In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA

sns.set_style('dark')

wim_m_13=pd.read_csv('Wimbledon-men-2013.csv')

Q. Which players completely dominated their opponent (won in straight sets) most number of times? What factor contributed most towards them dominating their opponent?

In [3]:
df=pd.DataFrame(columns=wim_m_13.columns)

for index, row in wim_m_13.iterrows():
    if np.isnan(row['ST4.1']) and np.isnan(row['ST5.1']):
        df=pd.concat([df, row.to_frame().T], ignore_index=True)

df

,Player1,Player2,Round,Result,FNL.1,FNL.2,FSP.1,FSW.1,SSP.1,SSW.1,...,BPC.2,BPW.2,NPA.2,NPW.2,TPW.2,ST1.2,ST2.2,ST3.2,ST4.2,ST5.2
0,B.Becker,A.Murray,1,0,0,3,59,29,41,14,...,10,5,23,17,NaN,6,6,6,NaN,NaN
1,N.Mahut,J.Hajek,1,1,3,0,72,44,28,10,...,1,0,19,12,NaN,2,4,3,NaN,NaN
2,T.Robredo,A.Bogomolov Jr.,1,1,3,0,77,40,23,12,...,0,0,22,13,NaN,2,2,4,NaN,NaN
3,R.Haase,M.Youzhny,1,0,0,3,68,61,32,15,...,21,3,44,30,NaN,6,7,7,NaN,NaN
4,M.Gicquel,V.Pospisil,1,0,0,3,59,41,41,27,...,12,4,33,26,NaN,6,6,7,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,N.Djokovic,T.Haas,4,1,3,0,65,44,35,17,...,7,2,35,16,NaN,1,4,6,NaN,NaN
66,L.Kubot,J.Janowicz,5,0,0,3,57,44,43,20,...,10,3,16,12,NaN,7,6,6,NaN,NaN
67,D.Ferrer,J.Del Potro,5,0,0,3,68,45,32,17,...,8,3,21,17,NaN,6,6,7,NaN,NaN
68,N.Djokovic,T.Berdych,5,1,3,0,61,42,39,21,...,2,2,31,21,NaN,6,4,3,NaN,NaN
69,N.Djokovic,A.Murray,7,0,0,3,65,40,35,15,...,17,7,37,26,NaN,6,7,6,NaN,NaN

Number of times each player won in straight sets

In [4]:
arr=[]
for index, row in df.iterrows():
    if row['Result']==0:
        arr.append(row['Player2'])
    elif row['Result']==1:
        arr.append(row['Player1'])
        
arr=pd.Series(arr)
arr.value_counts()

A.Murray           5
J.Del Potro        5
N.Djokovic         5
J.Janowicz         3
E.Gulbis           2
I.Sijsling         2
A.Mannarino        2
T.Berdych          2
K.Anderson         2
K.Nishikori        2
J.Struff           2
F.Verdasco         2
V.Troicki          2
I.Dodig            2
T.Robredo          2
F.Lopez            1
T.Haas             1
L.Mayer            1
J.Blake            1
M.Przysiezny       1
B.Paire            1
R.Bautista Agut    1
A.Dolgopolov       1
M.Raonic           1
G.Soeda            1
S.Darcis           1
M.Llodra           1
S.Stakhovsky       1
M.Youzhny          1
V.Pospisil         1
M.Cilic            1
K.De Schepper      1
J.Monaco           1
J-W.Tsonga         1
R.Federer          1
R.Stepanek         1
G.Dimitrov         1
N.Almagro          1
L.Hewitt           1
D.Brown            1
J.Isner            1
S.Robert           1
L.Kubot            1
N.Mahut            1
B.Tomic            1
dtype: int64

In [5]:
df1=pd.DataFrame(columns=wim_m_13.columns)

for index, row in df.iterrows():
    if row['Player1']=='A.Murray' or row['Player2']=='A.Murray':
        df1=pd.concat([df1, row.to_frame().T], ignore_index=True)
    elif row['Player1']=='N.Djokovic' or row['Player2']=='N.Djokovic':
        df1=pd.concat([df1, row.to_frame().T], ignore_index=True)
    elif row['Player1']=='J.Del Potro' or row['Player2']=='J.Del Potro':
        df1=pd.concat([df1, row.to_frame().T], ignore_index=True)
df1

,Player1,Player2,Round,Result,FNL.1,FNL.2,FSP.1,FSW.1,SSP.1,SSW.1,...,BPC.2,BPW.2,NPA.2,NPW.2,TPW.2,ST1.2,ST2.2,ST3.2,ST4.2,ST5.2
0,B.Becker,A.Murray,1,0,0,3,59,29,41,14,...,10,5,23,17,NaN,6,6,6,NaN,NaN
1,A.Ramos,J.Del Potro,1,0,0,3,58,30,42,8,...,8,6,11,9,NaN,6,7,6,NaN,NaN
2,N.Djokovic,F.Mayer,1,1,3,0,63,41,37,26,...,3,0,29,19,NaN,3,5,4,NaN,NaN
3,Y-H.Lu,A.Murray,2,0,0,3,66,49,34,13,...,15,4,23,19,NaN,6,6,7,NaN,NaN
4,J.Levine,J.Del Potro,2,0,0,3,61,41,39,16,...,11,4,10,6,NaN,6,7,6,NaN,NaN
5,N.Djokovic,B.Reynolds,2,1,3,0,59,39,41,22,...,0,0,21,15,NaN,6,3,1,NaN,NaN
6,T.Robredo,A.Murray,3,0,0,3,67,47,33,12,...,7,5,28,20,NaN,6,6,7,NaN,NaN
7,G.Zemlja,J.Del Potro,3,0,0,3,67,53,33,11,...,9,4,13,7,NaN,7,7,6,NaN,NaN
8,N.Djokovic,J.Chardy,3,1,3,0,74,40,26,12,...,0,0,23,12,NaN,3,2,2,NaN,NaN
9,M.Youzhny,A.Murray,4,0,0,3,61,36,39,16,...,10,5,42,31,NaN,6,7,6,NaN,NaN
10,A.Seppi,J.Del Potro,4,0,0,3,59,47,41,18,...,11,2,28,15,NaN,6,7,6,NaN,NaN
11,N.Djokovic,T.Haas,4,1,3,0,65,44,35,17,...,7,2,35,16,NaN,1,4,6,NaN,NaN
12,D.Ferrer,J.Del Potro,5,0,0,3,68,45,32,17,...,8,3,21,17,NaN,6,6,7,NaN,NaN
13,N.Djokovic,T.Berdych,5,1,3,0,61,42,39,21,...,2,2,31,21,NaN,6,4,3,NaN,NaN
14,N.Djokovic,A.Murray,7,0,0,3,65,40,35,15,...,17,7,37,26,NaN,6,7,6,NaN,NaN

In [7]:
df2=pd.DataFrame(columns=['Player', 'First Serve Percentage', 'First Serve Won', 'Second Serve Percentage', 'Second Serve Won', 'Aces', 'Double Faults', 'Winners', 'Unforced Errors', 'Break Points Created', 'Break Points Won', 'Net Points Attempted', 'Net Points Won', 'Margin of win'])

for index, row in df1.iterrows():
    if row['Result']==0:
        s=pd.Series([row['Player2'], row['FSP.2'], row['FSW.2'], row['SSP.2'], row['SSW.2'], row['ACE.2'], row['DBF.2'], row['WNR.2'], row['UFE.2'], row['BPC.2'], row['BPW.2'], row['NPA.2'], row['NPW.2'], row['TPW.2']-row['TPW.1']], index=['Player', 'First Serve Percentage', 'First Serve Won', 'Second Serve Percentage', 'Second Serve Won', 'Aces', 'Double Faults', 'Winners', 'Unforced Errors', 'Break Points Created', 'Break Points Won', 'Net Points Attempted', 'Net Points Won', 'Margin of win'])
        df2=pd.concat([df2, s.to_frame().T], ignore_index=True)
    elif row['Result']==1:
        s=pd.Series([row['Player1'], row['FSP.1'], row['FSW.1'], row['SSP.1'], row['SSW.1'], row['ACE.1'], row['DBF.1'], row['WNR.1'], row['UFE.1'], row['BPC.1'], row['BPW.1'], row['NPA.1'], row['NPW.1'], row['TPW.1']-row['TPW.2']], index=['Player', 'First Serve Percentage', 'First Serve Won', 'Second Serve Percentage', 'Second Serve Won', 'Aces', 'Double Faults', 'Winners', 'Unforced Errors', 'Break Points Created', 'Break Points Won', 'Net Points Attempted', 'Net Points Won', 'Margin of win'])
        df2=pd.concat([df2, s.to_frame().T], ignore_index=True)

df2=df2.replace(np.nan, 0)
df2

,Player,First Serve Percentage,First Serve Won,Second Serve Percentage,Second Serve Won,Aces,Double Faults,Winners,Unforced Errors,Break Points Created,Break Points Won,Net Points Attempted,Net Points Won,Margin of win
0,A.Murray,57,39,43,20,11,2.0,38,16,10,5,23,17,0
1,J.Del Potro,73,45,27,12,10,1.0,34,10,8,6,11,9,0
2,N.Djokovic,63,41,37,26,5,0.0,40,20,11,3,26,20,0
3,A.Murray,63,44,37,20,11,1.0,41,14,15,4,23,19,0
4,J.Del Potro,69,46,31,16,13,0.0,37,13,11,4,10,6,0
5,N.Djokovic,59,39,41,22,12,0.0,41,12,18,4,20,14,0
6,A.Murray,65,44,35,16,9,0.0,40,14,7,5,28,20,0
7,J.Del Potro,61,47,39,20,10,4.0,29,12,9,4,13,7,0
8,N.Djokovic,74,40,26,12,8,1.0,38,3,16,5,21,18,0
9,A.Murray,63,55,37,16,15,4.0,45,16,10,5,42,31,0
10,J.Del Potro,72,55,28,18,9,1.0,36,15,11,2,28,15,0
11,N.Djokovic,65,44,35,17,13,3.0,40,16,13,6,22,15,0
12,J.Del Potro,72,55,28,11,12,0.0,42,11,8,3,21,17,0
13,N.Djokovic,61,42,39,21,16,1.0,36,13,10,4,17,11,0
14,A.Murray,64,48,36,16,9,2.0,36,21,17,7,37,26,0

Since the columns total points won by the players 1 and 2 are empty, we cannot find the margin of win of that match and hence we cannot decide which factor contributes more towards a player winning in straight sets.